/************************
 * Common Class Modules *
 ************************/

 %center {
  margin: auto;
}

%center-items-vertical {
  display: flex;
  flex-direction: row;
}

%align-right {
  float: right;
}




/******************
 * Common Classes *
 ******************/
.bolder-text {
  font-weight: 500;
}


/********************
 * Common Variables *
 ********************/

$testBorder: 1px solid black;